<div class="container">
  <h1>{{ product.name }}</h1>
  <img src="{{ product.previewImage }}">
  <p class="card-text">{{ product.description }}</p>
  <a href="#" class="btn btn-primary">${{ product.price }} Add to cart</a>
  <a href="/product/edit/{{ product.id }}" class="btn btn-primary">Edit</a>
  <a href="/product/delete/{{ product.id }}" class="btn btn-danger">Delete</a>
</div>

